.bi {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.logo {
    width: 100px;
    height: auto;
}

.inicio {
    height: 100vh;
    background-image: url('../imagenes/banner.jpg');
    background-size: cover;
}

.inicio-titulo {
    color: whitesmoke;
    margin-top: 60%;
    text-shadow: 4px 4px 6px #ff00ff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-brand {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: white;
}

.nav-item a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    color: white;

}

.collapse.navbar-collapse.me-5 {
    font-family: 'Times New Roman', Times, serif;
}
.imageness{
     width: 200px;
    height: 200px;
    margin: 5px;
    border-radius: 50%;
}

footer {
    background-color: black;
    font-family: Times, serif;
    text-align: center;
    color: white;
    padding: 10px;
}